<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="classes" >
  <test  name="ChromeTest">
  <parameter name="browserName" value="Chrome">
    <classes>
      <class name="packp.Paytm"/>
    </classes>
  </parameter>
  </test> <!-- Test -->
  
  <test  name="EdgeTest">
  <parameter name= "browserName" value="Edge">
    <classes>
      <class name="packp.Paytm"/>
    </classes>
  </parameter>
  </test> <!-- Test -->
  
  <test  name="FirefoxTest">
  <parameter name="browserName" value="Firefox">
    <classes>
      <class name="packp.Paytm"/>
    </classes>
  </parameter>
  </test>
  </suite> <!-- Suite -->
